@import "tailwindcss";

@import "./styles/themes/theme.css";

@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/noto-sans";

@custom-variant dark (&:is(.dark *));

@import "./styles/base/reset.css";

@import "./styles/components/embla.css";
